{% extends 'base.html' %}
{% load static %}

{% block body %}

          <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Editar Usuario</h3>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12 col-sm-12">
            {% include 'mensajes.html' %}
              <div class="x_panel">
                <div class="x_content">
                  <form class="" action="" method="POST" novalidate>
                    {% csrf_token %}
                    <span class="section">Cambio de Contraseña {% if usuario.first_name %} de {{ usuario.first_name }} {% endif %}</span>
                      <div class="field item form-group">
                      <label class="col-form-label col-md-3 col-sm-3  label-align">Contraseña Nueva</label>
                      <div class="col-md-6 col-sm-6">

                          <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="password"
                           required="required"  type="password" />
                      </div>
                    </div>
                      <div class="field item form-group">
                      <label class="col-form-label col-md-3 col-sm-3  label-align">Repetir Contraseña</label>
                      <div class="col-md-6 col-sm-6">
                          <input class="form-control" data-validate-length-range="6" data-validate-words="2" name="password2"
                           required="required" type="password" />
                      </div>

                    </div>


                      <br>

                      <br>
                      <div class="form-group">
                        <div class="col-md-6 offset-md-3">
                    <button type='submit' class="btn btn-primary" name="id" value="{{ user.id }}">Editar</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content -->


{% endblock %}

{% block content %}




{% endblock %}