
<div>
  <div style="color:#4f4f4f; width: 400; font-family: 'Times New Roman', Times, serif; ">
       <p>
           Hola {{ user }} ! <br>

            El Planteamiento  <strong> {{ approach }} </strong> realizado el
            <strong> {{ created_date }} </strong> fue eliminado por
            <strong> {{ authenticated_user }} </strong>, para mas informaci&oacuten
           contactar al correo <a href="">({{authenticated_user_email }})</a>
       </p>

        <div>
            <strong> Descripci&oacuten: </strong>
            <p style="margin-left: 8px"> {{ description }} </p>
        </div>
  </div>
</div>